@inject IJSRuntime _jsRuntime
@inherits LayoutComponentBase


<NavMenu />

<div class="content-wrapper  js-content-wrapper">
   @Body
</div>


@code {
   protected override async Task OnAfterRenderAsync(bool firstRender)
   {
      if (firstRender)
      {
         // await _jsRuntime.InvokeVoidAsync("loadScript", "vendor/leaflet/leaflet.js");
         // await _jsRuntime.InvokeVoidAsync("loadScript", "js/vendors.js");
         // await _jsRuntime.InvokeVoidAsync("loadScript", "js/main.js");
         // await _jsRuntime.InvokeVoidAsync("loadScript", "js/79df7d11747f944da7628dfc1c76f709661cfe8f.js");
      }
      await base.OnAfterRenderAsync(firstRender);
   }
}
